body{
    background-image: url('../images/contact.jpg');
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

a{
    font-family: Arial;
    font-weight: 40px;
    color: black;
}

h1{
    color: black;
    font-weight: 300;

}